*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 5px;
}
.Header{
    width: 100%;
    height: 70px;
}
.left-box{
    width: 25%;
    height: 100%;
    float: left;
    background-color: gray;
}
.right-box{
    width: 25%;
    height: 100%;
    float: right;
    background-color: gray;
}
.Container{
    width: 100%;
}
.top-bigbox{
    width: 100%;
    height: 250px;
    margin: 5px 0px;
    background-color:gray;
}
.smallbox-left{
    width: 30%;
    height: 180px;
    float: left;
    background-color: gray;
}
.bigbox-right{
    width: 69.5%;
    height: 180px;
    margin-bottom: 5px;
    float: right;
    background-color: gray;
}
.box-left{
    width: 30%;
    height: 190px;
    float: right;
    background-color: gray;
}
.box-right{
    width: 69.5%;
    height: 190px;
    margin-bottom: 5px;
    float: left;
    background-color: gray;
}